/* Not all colors used */
:root {
    --light: #ffffff;
    --dark: #000000;
    --heart1: #ae4051;
    --heart2: #c07787;
    --heart3: #cdb2c2;
    --heart4: #ffc0cb;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    background-color: transparent;
    color: lightgrey;
}

p {
    font-size: 16px;
    padding: 25px 50px 0px 50px;
}

.about-me,
.project {
    display: flex;
    justify-content: center;
}

.about-me img {
    height: 150px;
}

.project img {
    height: 300px;
    width: 300px;
}

.school {
    width: 80px;
    height: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.card {
    background-color: var(--dark);
}

/* .contact-me nav ul {
    text-align: center;
}

.contact-me nav ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px 25px 25px 25px;
} */