/* Not all colors used */
body,
html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --light: #ffffff;
    --dark: #000000;
    --heart1: #ae4051;
    --heart2: #c07787;
    --heart3: #cdb2c2;
    --heart4: #ffc0cb;
}

body {
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--light);
}

a:hover {
    background-color: transparent;
    color: lightgrey;
}

p {
    font-size: 16px;
    padding: 25px 50px 0px 50px;
}

.about-me,
.project {
    display: flex;
    justify-content: center;
}

.about-me img {
    height: 150px;
}

.skill img {
    width: 80px;
    height: 80px;
    filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(296deg) brightness(108%) contrast(101%);
}

.project img {
    height: 300px;
    width: 300px;
}

.school {
    width: 80px;
    height: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.card {
    background-color: var(--dark);
}

.contact i {
    font-size: 24px;
}

#bg-img-1 {
    /* The image used */
    /* background-image: url("../images/bg.jfif"); */

    /* Full height */
    height: 100vh;
    background: black;

    /* Create the parallax scrolling effect */
    position: relative;
    background-attachment: fixed;
    background-position: top 100px;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}