/* Not all colors used */
:root {
    --light: #ffffff;
    --dark: #000000;
    --heart1: #ae4051;
    --heart2: #c07787;
    --heart3: #cdb2c2;
    --heart4: #ffc0cb;
}

body {
    background-color: var(--dark);
    color: var(--heart2);
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

/* Index is set to 1 so it nothing falls on top of header when you scroll */
header {
    background-color: var(--dark);
    color: var(--heart2);
    padding: 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header nav {
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: var(--heart2);
}

a:hover {
    background-color: var(--light);
    color: var(--dark);
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    padding: 80px 50px 0px 50px;
}

p {
    font-size: 16px;
    padding: 25px 50px 0px 50px;
}

.page {
    border-bottom: 2px solid var(--heart2);
}

.me {
    display: flex;
    justify-content: center;
}

.about-me img {
    height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.card-column {
    padding: 1.5rem;
    margin-top: 20px;
}

.card-header {
    position: relative;
    margin: -3rem 1rem 2rem 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--heart2);
    color: var(--dark);
    border: 3px solid var(--light);
    border-radius: 25px;
    text-align: center;
}

.code-refractor, .professional-portfolio, .password-generator, .code-quiz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--light);
    outline: 3px dotted var(--heart2);
    outline-offset: -2px;
}

.code-refractor img {
    width: 1200px;
    height: 800px;
    border: 3px solid var(--light);
    display: block;
}

.professional-portfolio img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--light);
    display: block;
}

.password-generator img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--light);
    display: block;
}

.code-quiz img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--light);
    display: block;
}

.contact-me nav ul {
    text-align: center;
}

.contact-me nav ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 25px 25px 25px 25px;
}

/* For laptops M displays */
@media only screen and (max-width: 1290px) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
        text-align: center;
    }

    header nav ul li {
        padding-bottom: 5px;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 700px;
        height: 600px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 700px;
        height: 300px;
    }
}

/* For laptop S displays */
@media only screen and (max-width: 1024px) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
        text-align: center;
    }

    header nav ul li {
        padding-bottom: 5px;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 600px;
        height: 600px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 600px;
        height: 300px;
    }
}

/* For tablet L displays */
@media only screen and (max-width: 768px) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
        text-align: center;
    }

    header nav ul li {
        padding-bottom: 5px;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 450px;
        height: 400px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 450px;
        height: 200px;
    }
}

/* For tablet S displays */
@media only screen and (max-width: 560px) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
        text-align: center;
    }

    header nav ul li {
        padding-bottom: 5px;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 300px;
        height: 400px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 300px;
        height: 200px;
    }
}

/* For mobile L displays */
@media only screen and (max-width: 425px) and (orientation: portrait) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
    }

    header nav ul li {
        padding-bottom: 5px;
        text-align: center;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 240px;
        height: 200px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 240px;
        height: 100px;
    }
}

/* For mobile L displays */
@media only screen and (max-width: 375px) and (orientation: portrait) {
    header {
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 125px;
    }

    header nav ul li {
        padding-bottom: 5px;
        text-align: center;
    }

    h1 {
        padding: 200px 50px 0px 50px;
        text-align: center;
    }

    .code-refractor img {
        width: 200px;
        height: 200px;
    }

    .professional-portfolio img, .password-generator img, .code-quiz img {
        width: 200px;
        height: 100px;
    }
}