body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: Cochin, 'Times New Roman', Arial;
    background-color: #967bb6;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 1600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/Users/avnipatel/Desktop/Bootcamp/Challenge02/git-challenge02/Images/myphoto.jpg");
    background-size: cover;
    background-position: center;
}