:root {
    --lavender: #967bb6;
    --white: #ffffff;
}

body {
    background-color: var(--lavender);
}

header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--lavender);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 36px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 600px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--white);
    color: var(--lavender);
}

.about-me img {
    height: 300px;
    position: relative;
    left: 250px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.about-me p {
    font-size: 16px;
    margin-left: 250px;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 1200px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--white);
    color: var(--lavender);
}

.work img {
    max-height: 1200px;
    position: relative;
    left: 250px;
}

.work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.work p {
    font-size: 16px;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: space-between;
}

.challenge01 img {
    width: 1020px;
    height: 800px;
    border: 3px solid var(--lavender);
    margin: 10px;
}

.password-generator img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--lavender);
    margin: 10px;
}

.code-quiz img {
    width: 500px;
    height: 200px;
    border: 3px solid var(--lavender);
    margin: 10px;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--white);
    color: var(--lavender);
}

.contact-me h2 {
    display: inline-block;
    font-size: 36px;
}

.contact-me nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.contact-me nav ul {
    list-style-type: none;
}

.contact-me nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.contact-me a {
    color: var(--lavender);
    text-decoration: none;
}