:root {
    --lavender: #967bb6;
    --white: #ffffff;
}

body {
    background-color: var(--lavender);
}

header {
    padding: 20px;
    font-family: Cochin, 'Times New Roman', Arial;
    background-color: var(--lavender);
    color: var(--white);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
}

main section article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--white);
    color: var(--lavender);
}

main section article img {
    max-height: 200px;
}

main section article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

main section article p {
    font-size: 16px;
}